/* Partie generale */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1500px;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
}

header,
section {
  margin: 0 50px;
}

a {
  text-decoration: none;
}
/* Header */

.bandeau {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding-left: 65px;
}

.inscription {
  padding-left: 65px;
  font-size: 16px;
  font-weight: 700;
  color: #0065fc;
  cursor: pointer;
}

nav a {
  color: black;
  font-size: 16px;
  cursor: pointer;
}

nav a:hover {
  color: #0065fc;
}

nav a:hover::before {
  content: "";
  display: block;
  width: 120%;
  height: 2px;
  background: #0065fc;
  position: relative;
  left: -10%;
  top: -50px;
}

header h1 {
  font-size: 22px;
}

header p {
  font-size: 16px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.fa-map-marker-alt {
  height: 50px;
  width: 52px;
  background: #f2f2f2;
  line-height: 50px;
  text-align: center;
  border-radius: 15px 0 0 15px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  line-height: 50px !important;
}
.champ-recherche {
  height: 50px;
  width: 234px;
  padding: 20px;
  border: 2px solid #f2f2f2;
  font-weight: bold;
  font-size: 18px;
}

.btn-recherche {
  height: 50px;
  width: 134px;
  background: #0065fc;
  color: #fff;
  border: none;
  border-radius: 0 15px 15px 0;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}
.btn-ico {
  display: none;
}

.recherche {
  margin-bottom: 30px;
}

/* Header partie responsive */

@media screen and (max-width: 770px) {
  header,
  section {
    margin: 0 20px;
  }
  nav li {
    padding-left: 35px;
  }

  .inscription {
    padding-left: 35px;
  }
}

@media screen and (max-width: 500px) {
  header {
    margin: 0;
  }
  .logo,
  .inscription {
    padding: 0 20px;
  }
  header h1,
  header p {
    margin: 0 20px;
  }
  nav li {
    padding-left: 0;
    padding-right: 0;
    width: 50vw;
    text-align: center;
  }
  nav {
    display: flex;
    position: absolute;
    top: 100px;
  }
  .bandeau {
    margin-bottom: 60px;
  }
  nav a:hover::before {
    display: none;
  }
  nav a::after {
    content: "";
    display: block;
    width: 100%;
    background: #f2f2f2;
    height: 4px;
    position: relative;
    top: 20px;
  }
  nav a:hover::after {
    background: #0065fc;
  }
  .btn-txt {
    display: none;
  }
  .btn-ico {
    display: inline;
  }
  .btn-recherche {
    width: 50px;
    border-radius: 15px;
    position: relative;
    left: -10px;
  }
  .champ-recherche {
    width: 244px;
  }
}
@media screen and (max-width: 390px) {
  .champ-recherche {
    width: 174px;
    padding: 10px;
    font-size: 16px;
  }
}

/* Filtres */

.filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filtres h2 {
  margin-right: 35px;
}

.filtre-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filtre-cartouche {
  display: flex;
  height: 50px;
  border: 2px solid #f2f2f2;
  line-height: 50px;
  border-radius: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.filtre-cartouche-ico {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background: #deebff;
  color: #0065fc;
  text-align: center;
  position: relative;
  top: -2px;
  left: -2px;
}

.filtre-cartouche-txt {
  padding: 0 15px;
}

.filtre-txt {
  display: flex;
  width: 100%;
  line-height: 24px;
  font-size: 16px;
  margin: 35px 0;
}

.filtre-txt-ico {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 1px solid #f2f2f2;
  border-radius: 25px;
  font-size: 12px;
  color: #0065fc;
  text-align: center;
  line-height: 24px;
}

.filtre-cartouche:hover > span {
  transition: all 0.5s ease-in-out;
  background: #0065fc;
  color: white;
  top: 0px;
  left: 0px;
}

.filtre-cartouche:hover {
  transition: all 0.2s ease-in-out;
  background: #deebff;
  color: #0065fc;
  border: none;
}

@media screen and (max-width: 1020px) {
  .filtres {
    flex-direction: column;
    align-items: flex-start;
  }
  .filtre-cartouche {
    margin-top: 15px;
  }
}

/* Section Hébergements */

#hebergements {
  display: flex;
  justify-content: space-between;
}
#hebergements h2 {
  font-size: 20px;
  padding: 15px;
}

#hebergements article {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 20px;
  width: 69%;
  max-width: 900px;
  padding: 30px 20px;
}

#hebergements .bas {
  margin-top: 30px;
  font-weight: bold;
}

#hebergements .carte-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#hebergements article .carte {
  display: flex;
  align-items: flex-end;
  width: 250px;
  height: 200px;
  margin: 15px 0;
  background-color: #0065fc;
  border-radius: 15px;
  border: 6px solid white;
}

#hebergements article .carte-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  color: black;
  width: 100%;
  height: 80px;
  padding: 0 10px;
}

#hebergements article .carte-txt h3 {
  font-size: 16px;
  font-weight: bold;
}
.carte-etoile {
  color: #0065fc;
}

#hebergements aside {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 20px;
  width: 30%;
  max-width: 460px;
  padding: 30px 20px;
}
#hebergements aside .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-chart-line {
  font-size: 30px;
}

#hebergements aside .carte {
  display: flex;
  justify-content: flex-end;
  width: 340px;
  height: 150px;
  margin: 15px;
  background-color: #0065fc;
  border-radius: 15px;
  border: 6px solid white;
}

#hebergements aside .carte-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  color: black;
  width: 210px;
  height: 100%;
  padding: 10px;
}
#hebergements aside .carte-txt p {
  padding: 10px 0;
}

#hebergements aside .carte-etoile {
  margin-top: auto;
}

article .carte1 i:nth-last-child(1),
article .carte3 i:nth-last-child(1),
article .carte5 i:nth-last-child(1) {
  color: #d9d9d9;
}

article .carte4 i:nth-last-child(1),
article .carte4 i:nth-last-child(2) {
  color: #d9d9d9;
}

aside .carte2 i:nth-last-child(1),
aside .carte3 i:nth-last-child(1) {
  color: #d9d9d9;
}

/* Section Hébergements */

@media screen and (max-width: 1290px) {
  #hebergements {
    flex-direction: column-reverse;
  }
  #hebergements aside {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  #hebergements article {
    width: 100%;
    max-width: 100%;
  }
  #hebergements aside .carte-container {
    flex-direction: row;
  }
  .fa-chart-line {
    margin-right: 30px;
  }
}
@media screen and (max-width: 500px) {
  #hebergements {
    margin: 0;
  }
  #hebergements article,
  #hebergements aside {
    border-radius: 0;
  }
  #hebergements article .carte,
  #hebergements aside .carte {
    width: 340px;
    margin: 15px auto;
  }
  #hebergements aside .carte-txt {
    width: 200px;
  }
}
@media screen and (max-width: 390px){
  #hebergements article .carte,
  #hebergements aside .carte{
    margin: 15px 5px;
  }
  #hebergements aside .carte-txt{
    width: 150px;}
    #hebergements aside .carte-txt h3{
      font-size: 16px;
    }
    #hebergements aside .carte-txt p{
      font-size: 14px;
    }
}